# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Migrations cache
alembic/__pycache__/

# Mypy / Ruff
.mypy_cache/
.ruff_cache/
